html, body, .container-fluid{
  height: 100%;
}
.container-fluid{
  padding: 0;
  background-color: #eaedf1;

}
.first_row {
  background-color: #4FA7FF;
  width: 100%;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 5px;
  border-right: 0px;
  border-style: solid;
  border-color: orange;
  }
.baner {
  float: left;
  margin-left: 10%;
  margin-right: 15%;
  color: white;
  text-align: center;

}
.buttons{
  line-height: 50px;
  float: right;
  margin-left: 10%;
  margin-right: 15%;
  vertical-align: middle;
}
.login {
  padding: 10px;
  width: 50px;
  height: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
}
.login:hover{
  text-decoration: none;
  color: orange;
}
.register {
  padding: 10px;
  width: 50px;
  height: 20px;
  background-color: orange;
  color: white;
  border-radius: 10px;
}
.register:hover {
  text-decoration: none;
  color: black;
}
.second_row{
  background-color: #eaedf1;
  width: 100%;

}
.menu{
  background-color: white;
  border: 3px;
  border-style: solid;
  border-color: orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  vertical-align: middle;
  width: 100%;
  clear: both;
}
.menu1{
  background-color: white;
  border: 3px;
  border-style: solid;
  border-color: #4FA7FF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  vertical-align: middle;
  width: 100%;
  clear: both;
}
.nav-item{
  padding: 5px;
  margin: 10px;
  text-align: center;
  padding-left: 20px;
  margin: 0 auto;
}
.nav-link{
  position: relative;
  text-align: center;
}
.nav-link::before{
  content: '';
  position: absolute;
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background-color: orange;
  transform: translate( -50%, 100%);
  transition: 300ms width;

}
.user_menu::before{
  content: '';
  position: absolute;
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background-color: #4FA7FF;
  transform: translate( -50%, 100%);
  transition: 300ms width;

}
.nav-link:hover::before{
  width: 100%;
}
.third_row{
  background-color: white;
  color: grey;
  width: 100%;
}
.foot {
  padding-top: 5%;
}
.list-inline {
  padding-top: 5%;
}
.list-inline-item > a {
  color: grey;
}
.usermenu {
  margin-top: 10%;
  width: 80%;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}
.headmenu {
  width: 100%;
  background-color: orange;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
}
.va {
  padding-top: 12px;
}
.va > span{
  text-align: center;
  padding: 20px 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.mainmenu {
  width: 100%;
  list-style: none;
  padding-right: 4%;
}
.usercontent {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
.header_clear {
  width: 100%;
  height: 50px;
}
.web_clear {
  width: 100%;
  height: 300px;
}
.headcontent{
  width: 100%;
  background-color: orange;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
}
.content_header {
  text-align: center;
  padding-top: 1%;
  color: white;
}
.matter {
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2%;
}
@media (max-width: 708px){
  .headcontent{
    height: 100px;
  }
}
.headmenu1{
  background-color: #4FA7FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  width: 100%;
}
.form_log{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 100px;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: orange;
  border-radius: 10px;
}
.form-group {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;

}
.form-group > .input_log {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  padding: 2px;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: orange;
}
.form-group > button {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  padding: 2px;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #4FA7FF;
}
.form-group > button:hover {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  padding: 2px;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #4FA7FF;
  background-color: #808080;
}
.form_logowanie{
  text-align: center;
}
form > strong {
  text-align: center;
}
@media (max-width: 600px){
  .form-log{
    width: 100%;
    margin: 0;
  }
  .form-group{
    width: 100%;
    margin: 0;
  }
  .form_logowanie{
    font-size: 20px;
  }
}
.rej {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  padding: 2px;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: orange;
}

.admin_table_tr{
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: orange;
  padding: 10px;
  margin: 10px;
}
.admin_table_td{
  border-right: 3px;
  border-style: solid;
  border-color: orange;
  padding: 10px;
}
.table_admin{
  margin: 0 auto;
  width: 100%;
  margin-top: 5%;
}
.admin_table{
  margin: 0 auto;

}
.api{
  margin: 0 auto;
}



#translate-word{
  margin-top: 50px;
  height: 40px;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}
#word.display-4 {
  width: 100%;
  text-align: center;
}
#chuj{
  margin-top: 50px;
}
